SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_URL=postgresql://pay_user:pay_password@agt-pay-db:5432/agt_payment_db
REDIS_URL=redis://redis:6379/5
AUTH_SERVICE_PUBLIC_KEY_PATH=/app/keys/auth_public.pem
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# === RabbitMQ (événements sortants vers Wallet, Subscription, Notification) ===
BROKER_URL=amqp://agt_rabbit:agt_rabbit_password@agt-rabbitmq:5672//